* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font: 1.2em/1.6 sans-serif;
}

img {
  max-width: 100%;
  display: block;
  border: 1px solid #000;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
  text-align: center;
}

nav {
  background-color: #000;
  padding: 0.5em;
  position: sticky;
  top: 0;
}

nav ul {
  margin: 0;
  padding: 15px 5px;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  flex-wrap: wrap;
  gap: 5px;
  column-count: 2;
  width: 100%;
}

.feature {
  width: 200px;
  float: left;
  margin: 0 15px 10px 0;
}

main {
  display: flex;              /* Enables flexbox */
  justify-content: space-between;  /* Controls horizontal spacing */
  align-items: start;        /* Aligns vertically (centered) */
  gap: 20px; 
}

article {
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 350px;
  margin-top: -15px;
}

aside {
  margin-right: 100px;
}