header, h1, h2, h3 {
  font-family: "GFS Didot", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  text-align: center;
  color:white;
}

h1 {
  font-size: 60px;
}
body {
  text-align: center;
}

#img1 {
  width: 365px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dior-logo {
  width: 360px;
  height: auto;
  float: right;
  margin-right: -10px;
}

.dior-logo-left {
  width: 360px;
  height: auto;
  float: left;
  margin-left: -10px;
}

figcaption {
  color: white;
}

h2 {
  font-size: 24px;
  color: white;
}

h3 {
  text-align: center;
}

body {
  background-image: url("images/lace.JPG");
}

.black-box {
  width: auto;
  height: 80px; 
  background-color: black;
  border: 0px solid black;
  padding: 0px;
  margin: -10px; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
}
.black-box2 {
  width: auto;
  height: 20px; 
  background-color: black;
  border: 0px solid black;
  padding: 35px;
  margin: -10px; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
}

#small-black-box {
  width: 446px;
  height: 80px; 
  background-color: black;
  border: 2px solid black;
  padding: 10px;
  margin: 0px auto; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
}

.white-box {
  width: 597px;
  height: auto; 
  background-color: white;
  border: 2px solid white;
  padding: 10px;
  margin: 12px auto; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  opacity: .95;
  text-align: left;
}
#last-white-box {
  width:597px;
  height: auto;
  background-color: white;
  border:2px solid white;
  padding: 10px;
  margin:12px auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  opacity: .95;
}
